{% trans_default_domain 'FOSUserBundle' %}

<ul class="nav nav-pills">
    <li class="active"><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
    <li><a href="{{ path('book') }}">Books</a></li>
    <li><a href="{{ path('shelf') }}">Shelfs</a></li>
    <li><a href="{{ path('read') }}">Reads</a></li>
</ul>

<br>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
{{ form_widget(form) }}

<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
</div>

{{ form_end(form) }}
