{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}

    <div id="sticky" class="well well-sm">
        <div class="top-panel-content container">
            <div class="pull-left">
                {#<h1>"{{ entity.name|truncate(40) }}"</h1>#}
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-primary btn-submit-form">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    {% trans %}Update{% endtrans %}
                </button>
                <a href="{{ path('book_delete', {'id': entity.id}) }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% trans %}Delete{% endtrans %}
                </a>
                <a href="{{ path('book_reading', {'id': entity.id}) }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    {% trans %}Reading{% endtrans %}
                </a>
                <button class="btn btn-primary share-link-button" data-shared-link-url="{{ path('shared_book_link', {'bookId': entity.id}) }}" data-toggle="modal" data-target="#bookShareLinkModal">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>{% trans %}Get shared
                    link{% endtrans %}
                </button>
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="book-create-form-container">
        <div class="pull-left">
            {{ form_row(form.image) }}
        </div>
        <div class="pull-right">
            {% if form.image.binaryContent.vars.errors.count %}
                <div class="alert alert-danger" role="alert">{{ form_errors(form.image.binaryContent) }}</div>
            {% endif %}
            {{ form_row(form.name) }}
            {{ form_row(form.authors) }}
            {{ form_row(form.publisher) }}
            {{ form_row(form.readerLink) }}
            {{ form_row(form.previewLink) }}
        </div>
        <div class="form-container">
            {{ form_row(form.publishedDate) }}
            {{ form_row(form.pageCount) }}
            {{ form_row(form.language) }}
        </div>
        <div class="clear-float"></div>
    </div>
    {{ form_end(form) }}

    <!-- Modal to generate shared shelf link -->
    <div class="modal fade" id="bookShareLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Share book link{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="input-group">
                            <input type="text" class="form-control share-link" id="share-link" readonly>
                              <span class="input-group-btn">
                                <button class="btn btn-primary copy-share-link" type="button" data-clipboard-action="copy" data-clipboard-target="#share-link">{% trans %}Copy{% endtrans %}</button>
                              </span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}
                        Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}