{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}
    <h1 class="h1-title">{% trans %}Books{% endtrans %}</h1>

    {% if entities %}
        <div id="books-list-wrapper">
            <div id="columns">
                {% for entity in entities %}
                    <div class="pin">
                        <a href="{{ path('book_edit', { 'id': entity.id }) }}">
                            <img src="{{ entity.imageUrl }}"/>
                            {{ entity.name }}
                            <hr>
                        </a>
                        <p>
                            {{ entity.description|truncate(100)|raw }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            {% trans %} Your Books list is empty.{% endtrans %}
        </div>
    {% endif %}
{% endblock %}
