{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}
    <h1 class="h1-title">{% trans %}Books{% endtrans %}</h1>

    <div class="grid-list-view container">
        <div class="well well-sm">
            <strong>Display</strong>

            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List
                </a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>

            <div class="btn-group pull-right">
                <a class="btn btn-default btn-sm" href="{{ path('book_new') }}">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>{% trans %}Add
                    book{% endtrans %}
                </a>
            </div>
        </div>
        <div id="products" class="row list-group">
            {% if entities %}
                {% for entity in entities %}
                    <div class="item  col-xs-3 col-lg-3">
                        <div class="thumbnail">
                            <div class="btn-delete">
                                <a class="btn btn-danger btn-sm" href="{{ path('book_delete', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>

                            <a href="{{ path('book_edit', { 'id': entity.id }) }}">
                                <img class="group list-group-image" src="{% path entity.image, 'small' %}" alt=""/>
                            </a>

                            <div class="caption">
                                <a href="{{ path('book_edit', { 'id': entity.id }) }}">
                                    <h5 class="group inner list-group-item-heading">{{ entity.name }}</h5>
                                </a>

                                <p class="group inner list-group-item-text">
                                    {% if entity.authors %}
                                        <b>{% trans %}Author:{% endtrans %}</b>
                                        {{ entity.authors|truncate(200) }}
                                    {% endif %}
                                </p>

                                <p class="group inner list-group-item-text">
                                    {% if entity.authors %}
                                        <b>{% trans %}Pages:{% endtrans %}</b>
                                        {{ entity.pageCount|truncate(200) }}
                                    {% endif %}
                                </p>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info">
                    {% trans %} Your Books list is empty.{% endtrans %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
