{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="nav nav-pills">
        <li class="active"><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
        <li><a href="{{ path('book') }}">Books</a></li>
        <li><a href="{{ path('shelf') }}">Shelfs</a></li>
        <li><a href="{{ path('read') }}">Reads</a></li>
    </ul>
    <br>
    <h2>{% trans %}Your Books list{% endtrans %}</h2>

    <div class="books-button-panel">
        <a class="btn btn-success pull-left" href="{{ path('book_new') }}">
            {% trans %}Add book{% endtrans %}
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover records_list">
            <thead>
            <tr>
                <th><h4>Name</h4></th>
                <th><h4>Publisher</h4></th>
                <th><h4>Publisheddate</h4></th>
                <th><h4>Pagecount</h4></th>
                <th><h4>Imageurl</h4></th>
                <th><h4>Language</h4></th>
                <th><h4>Actions</h4></th>
            </tr>
            </thead>
            <tbody>
            {% if not entities %}
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('book_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.publisher }}</td>
                        <td>{% if entity.publishedDate %}{{ entity.publishedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.pageCount }}</td>
                        <td>{{ entity.imageUrl }}</td>
                        <td>{{ entity.language }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('book_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('book_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="info">
                    <td colspan="7">
                        <br>
                        <span>
                            <h4>
                                {% trans %} Your Books list is empty.{% endtrans %}
                            </h4>
                        </span>
                        <br>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
