{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}
    <div id="sticky" class="well well-sm">
        <div class="top-panel-content container">
            <div class="pull-left">
                <h1>{% trans %}New book{% endtrans %}</h1>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-primary btn-submit-form">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% trans %}Create{% endtrans %}
                </button>
            </div>
        </div>
    </div>

    {{ form_start(form, { 'action': path('book_create') }) }}
    <div class="book-create-form-container">
        <div class="pull-left">
            {{ form_row(form.image) }}
        </div>
        <div class="pull-right">
            {% if form.image.binaryContent.vars.errors.count %}
                <div class="alert alert-danger" role="alert">{{ form_errors(form.image.binaryContent) }}</div>
            {% endif %}
            {{ form_row(form.name) }}
            {{ form_row(form.authors) }}
            {{ form_row(form.publisher) }}
            {{ form_row(form.readerLink) }}
            {{ form_row(form.previewLink) }}
        </div>
        <div class="form-container">
            {{ form_row(form.publishedDate) }}
            {{ form_row(form.pageCount) }}
            {{ form_row(form.language) }}
        </div>
        <div class="clear-float"></div>
    </div>
    {{ form_end(form) }}
    <p id="book_name_search_result"></p>

{% endblock %}