{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}

    <h1 class="h1-title">{% trans %}Reading{% endtrans %}</h1>

    <div class="grid-list-view container">
        <div class="well well-sm">
            <strong>Display</strong>

            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List
                </a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>

            <div class="btn-group pull-right">
                <a class="btn btn-default btn-sm" href="{{ path('read_new_book', { 'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>{% trans %}Add
                    read{% endtrans %}
                </a>
            </div>
        </div>

        <div id="products" class="row list-group">
            {% for read in reads %}
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt=""/>

                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">{{ read.title }}</h4>

                            <p class="group inner list-group-item-text">{{ read.comment|striptags|truncate(100) }}</p>

                            <p class="group inner list-group-item-text">
                                <b>{% trans %}Book: {% endtrans %}</b>
                                {{ read.book.name }}
                            </p>

                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="{{ path('read_book_edit', {'id': read.id, 'bookId': read.book.id  }) }}">
                                        {% trans %}Edit{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}