{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}

    <h1 class="h1-title">{% trans %}Reading{% endtrans %}</h1>

    <div class="grid-list-view container container-read-list">
        <div class="well well-sm">
            <strong>Display</strong>

            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List
                </a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>

            <div class="btn-group pull-right">
                <a class="btn btn-default btn-sm" href="{{ path('read_new_book', { 'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>{% trans %}Add
                    read{% endtrans %}
                </a>
            </div>
        </div>

        <div id="products" class="row list-group">
            {% for read in reads %}
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <div class="read-location-map location-map location-map-read-list" data-latitude="{{ read.latitude }}" data-longitude="{{ read.longitude }}"></div>

                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <a href="{{ path('read_book_edit', {'id': read.id, 'bookId': read.book.id  }) }}">
                                    {{ read.title }}
                                </a>
                            </h4>

                            <p class="group inner list-group-item-text read-comment">{{ read.comment|striptags|truncate(120) }}</p>

                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}