{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="h1-title">{% trans %}Shared shelf list{% endtrans %}</h1>

    <div class="grid-list-view container share-folder-users-list">
        <div class="well well-sm">
            <strong>Display</strong>

            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List
                </a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>

            <div class="btn-group pull-right">
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#shelfShareModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{% trans %}Share to
                    user{% endtrans %}
                </button>
            </div>

            <div class="btn-group pull-right">
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#shelfShareEmailModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{% trans %}Share by
                    email{% endtrans %}
                </button>
            </div>

            <div class="btn-group pull-right">
                <button class="btn btn-default btn-sm share-link-button" data-shared-link-url="{{ path('shared_shelf_link', {'shelfId': shelf.id}) }}" data-toggle="modal" data-target="#shelfShareLinkModal">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>{% trans %}Get shared
                    link{% endtrans %}
                </button>
            </div>
        </div>

        <div id="products" class="row list-group">
            {% if shelf.shareUsers.count %}
                {% for shareUser in shelf.shareUsers %}
                    <div class="item  col-xs-4 col-lg-4 grid-group-item">
                        <div class="thumbnail profile-avatar">
                            <div class="btn-delete">
                                <a class="btn btn-danger btn-sm" href="{{ path('shared_delete_user', { 'shelfId': shelf.id, 'userToShareId': shareUser.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>

                            <div class="circle image-container {% if not shareUser.avatar %}no-image{% endif %}">
                                <span class="pseudo-letters">
                                    <span class="helper"></span>
                                    <span class="s-t">{{ shareUser.avatarLetters }}</span>
                                </span>
                                {% if shareUser.avatar %}
                                    <img class="group list-group-image img-polaroid media-object" src="{% path shareUser.avatar, 'small' %}" alt=""/>
                                {% endif %}
                            </div>

                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                    {{ shareUser.username }}
                                </h4>

                                <p class="group inner list-group-item-text read-comment">{{ shareUser.about|striptags|truncate(120) }}</p>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Modal Share shelf to user -->
    <div class="modal fade" id="shelfShareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Share shelf to user{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {{ form(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}
                        Close{% endtrans %}</button>
                    <button type="button" class="btn btn-default btn-modal-submit">{% trans %}
                        Share{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Share shelf to user by email -->
    <div class="modal fade" id="shelfShareEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Share shelf to user by email{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {{ form(formEmail) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}
                        Close{% endtrans %}</button>
                    <button type="button" class="btn btn-default btn-modal-submit">{% trans %}
                        Share{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to generate shared shelf link -->
    <div class="modal fade" id="shelfShareLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Share shelf link{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="input-group">
                            <input type="text" class="form-control share-link" id="share-link" readonly>
                              <span class="input-group-btn">
                                <button class="btn btn-primary copy-share-link" type="button" data-clipboard-action="copy" data-clipboard-target="#share-link">{% trans %}Copy{% endtrans %}</button>
                              </span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}
                        Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}