{% extends "BookBundle::layout.html.twig" %}

{% block body -%}     {{ parent() }}
    <h1 class="h1-title">{% trans %}Your Books Shelf list{% endtrans %}</h1>

    <div class="grid-list-view container container-shelf-list">
        <div class="well well-sm">
            <strong>Display</strong>

            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List
                </a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>

        </div>

        {% if entities %}
            <div id="products" class="row list-group">
                {% for entity in entities %}
                    <div class="item  col-xs-4 col-lg-4">
                        <div class="thumbnail">
                            <div class="btn-delete">
                                <a class="btn btn-danger btn-sm" href="{{ path('shared_share_to_me_shelf', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>

                            <a href="{{ path('shared_shelf_by_id', {'id': entity.id}) }}" class="img-link">
                                {% if entity.image %}
                                    <img class="group list-group-image" src="{% path entity.image, 'small' %}" alt=""/>
                                {% else %}
                                    <img class="group list-group-image no-image" src="/uploads/no-image.png" alt=""/>
                                {% endif %}
                            </a>

                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                    <a href="{{ path('shared_shelf_by_id', {'id': entity.id}) }}">
                                        {{ entity.title }}
                                    </a>
                                </h4>

                                <p class="group inner list-group-item-text read-comment">{{ entity.description|striptags|truncate(120) }}</p>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">{% trans %}Your Shared Shelves list is empty.{% endtrans %}</div>
        {% endif %}
    </div>
{% endblock %}
