{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}

    <div class="grid-list-view container share-books-list">
        <div id="sticky" class="well well-sm">
            <div class="top-panel-content container">
                <div class="center">
                    <h1>"{{ shelf.title }}" {% trans %}by{% endtrans %} {{ shelf.user.username }}</h1>
                </div>
            </div>
        </div>
        <div id="products" class="row list-group">
            {% if shelf.books %}
                {% for entity in shelf.books %}
                    <div class="item  col-xs-3 col-lg-3 grid-group-item">
                        <div class="thumbnail">
                            <a href="{{ path('shared_shelf_book', {'shelfId':shelf.id, 'bookId': entity.id, 'salt': salt}) }}">
                                <img class="group list-group-image" src="{% path entity.image, 'small' %}" alt=""/>
                                <div class="labels">
                                    <span class="label label-inverse arrowed-in">
                                        {{ entity.pageCount }}
                                        <span class="glyphicon glyphicon-align-justify"></span>
                                    </span>
                                </div>
                            </a>

                            <div class="caption">
                                <div class="group inner list-group-item-text book-title-block">
                                    <a href="{{ path('shared_shelf_book', {'shelfId':shelf.id, 'bookId': entity.id, 'salt': salt}) }}">
                                        <h5 class="group inner list-group-item-heading">{{ entity.name }}</h5>
                                    </a>
                                </div>

                                <div class="group inner list-group-item-text common-one-line-block center-block">
                                    <div><b>{% trans %}Author{% endtrans %}</b></div>
                                    <p class="gray-color">{{ entity.authors|truncate(200) }}</p>
                                </div>

                                <div class="group inner list-group-item-text common-block">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li role="presentation" class="active">
                                            <a>
                                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                                {% trans %}Read{% endtrans %} ({{ entity.reads.count }})
                                            </a>
                                        </li>
                                    </ul>
                                </div>


                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info alert-empty-list">
                    {% trans %} Shelf books list is empty.{% endtrans %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
