<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ service_seo_manager.getAll() }}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- core CSS -->
    {% block stylesheets %}
        {% stylesheets
        output='fonts/fontawesome-webfont.woff'
        '%kernel.root_dir%/Resources/public/fonts/fontawesome-webfont.woff' %}
        {% endstylesheets %}
        {% stylesheets
        output='fonts/FontAwesome.otf'
        '%kernel.root_dir%/Resources/public/fonts/FontAwesome.otf' %}
        {% endstylesheets %}
        {% stylesheets
        output='fonts/fontawesome-webfont.svg'
        '%kernel.root_dir%/Resources/public/fonts/fontawesome-webfont.svg' %}
        {% endstylesheets %}

        {% stylesheets
        output='fonts/fontawesome-webfont.ttf'
        '%kernel.root_dir%/Resources/public/fonts/fontawesome-webfont.ttf' %}
        {% endstylesheets %}

        {% stylesheets
        output='fonts/fontawesome-webfont.woff'
        '%kernel.root_dir%/Resources/public/fonts/fontawesome-webfont.woff' %}
        {% endstylesheets %}

        {% stylesheets
        output='fonts/glyphicons-halflings-regular.eot'
        '%kernel.root_dir%/Resources/public/fonts/glyphicons-halflings-regular.eot' %}
        {% endstylesheets %}

        {% stylesheets
        output='fonts/glyphicons-halflings-regular.svg'
        '%kernel.root_dir%/Resources/public/fonts/glyphicons-halflings-regular.svg' %}
        {% endstylesheets %}

        {% stylesheets
        output='fonts/glyphicons-halflings-regular.ttf'
        '%kernel.root_dir%/Resources/public/fonts/glyphicons-halflings-regular.ttf' %}
        {% endstylesheets %}

        {% stylesheets
        output='fonts/glyphicons-halflings-regular.woff'
        '%kernel.root_dir%/Resources/public/fonts/glyphicons-halflings-regular.woff' %}
        {% endstylesheets %}


        {% stylesheets
        '@main_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets '@BookBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>

    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

</head>
<!--/head-->

<body class="homepage">

<header id="header">
    <!--/.top-bar-->

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% if app.user %}{{ path('homepage') }}{% else %}{{ path('fos_user_security_login') }}{% endif %}">
                    <span class="first-part">
                        {% trans %}Drive{% endtrans %}
                    </span>
                    <span class="second-part">{% trans %}Book{% endtrans %}</span>
                    <span class="third-part">{% trans %}In{% endtrans %}</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                {{ include('menu/profile_menu.html.twig', { 'article': 'article' }) }}
            </div>
        </div>
        <!--/.container-->
    </nav>
    <!--/nav-->

</header>
<!--/header-->


<section id="content">
    <div class="container">
        {% block body %}must be content{% endblock %}
    </div>
    <!--/.container-->
</section>
<!--/#content-->


<section id="bottom">
    <!--
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">We are hiring</a></li>
                        <li><a href="#">Meet the team</a></li>
                        <li><a href="#">Copyright</a></li>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    -->
</section>

<!--/#bottom-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2017
                All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li>
                        <a href="{% if app.user %}{{ path('fos_user_profile_edit') }}{% else %}{{ path('fos_user_security_login') }}{% endif %}">Home</a>
                    </li>
                    {% if app.user %}
                        <li class="{% if app.request.attributes.get('_route') in ['fos_user_profile_edit'] %}active{% endif %}">
                            <a href="{{ path('fos_user_profile_edit') }}">{% trans %}My Profile{% endtrans %}</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'book' %}active{% endif %}">
                            <a href="{{ path('book') }}">{% trans %}All books{% endtrans %}</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'shelf' %}active{% endif %}">
                            <a href="{{ path('shelf') }}">{% trans %}All shelfs{% endtrans %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script>
    PROJECT_URLS = {
        'book_search_google': '{{ path('book_search_google') }}'
    }
</script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key={{ parameters.google_api_key }}&libraries=places"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({selector: 'textarea'});</script>

{% block javascripts %}
    {% javascripts '@jquery_and_ui' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@bootstrap' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    {% javascripts '@main_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
</body>
</html>
