{% extends "BookBundle::layout.html.twig" %}

{% block body -%}     {{ parent() }}
    <h1>Read edit</h1>

    <div class="location-map" style="width: 500px; height: 400px;"></div>

    {{ form(edit_form) }}

    <a href="{{ path('read') }}">
        Back to the list
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BookBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
