{% extends "BookBundle::layout.html.twig" %}

{% block body -%}     {{ parent() }}
    <h1>Read</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ entity.place }}</td>
            </tr>
            <tr>
                <th>Timestart</th>
                <td>{{ entity.timeStart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Timeend</th>
                <td>{{ entity.timeEnd|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('read') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('read_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
