<ul class="nav navbar-nav">
    {% if app.user is null %}
        <li class="{% if app.request.attributes.get('_route') in ['fos_user_security_login'] %}active{% endif %}">
            <a href="{{ path('fos_user_security_login') }}">{% trans %}Sign in{% endtrans %}</a>
        </li>
        <li class="{% if app.request.attributes.get('_route') in ['fos_user_registration_register'] %}active{% endif %}">
            <a href="{{ path('fos_user_registration_register') }}">{% trans %}Sign up{% endtrans %}</a>
        </li>
    {% endif %}

    {% if app.user %}
        <li class="dropdown {% if app.request.attributes.get('_route')  in ['fos_user_security_logout', 'fos_user_profile_edit', 'fos_user_change_password'] %}active{% endif %}">
            <a class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">
                <div class="menu-user-avatar {% if app.request.attributes.get('_route')  in ['fos_user_security_logout', 'fos_user_profile_edit', 'fos_user_change_password'] %}active{% endif %}">
                    {% if app.user.avatar %}
                        {% thumbnail app.user.avatar, 'small' with {'class': 'img-polaroid media-object'} %}
                    {% else %}
                        <span class="pseudo-letters">
                            <span class="helper"></span>
                            <span class="s-t">{{ app.user.avatarLetters }}</span>
                        </span>
                    {% endif %}
                </div>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="{% if app.request.attributes.get('_route') in ['fos_user_profile_edit'] %}active{% endif %}">
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        {% trans %}My profile{% endtrans %}
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'book' %}active{% endif %}">
                    <a href="{{ path('book') }}">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        {% trans %}My books{% endtrans %}
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'shelf' %}active{% endif %}">
                    <a href="{{ path('shelf') }}">
                        <i class="fa fa-align-right" aria-hidden="true"></i>
                        {% trans %}My shelves{% endtrans %}
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') in ['fos_user_security_logout'] %}active{% endif %}">
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        {% trans %}Log out{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>



    {% endif %}
    {% block nav_bar %}{% endblock %}
</ul>