{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}

    <div id="sticky" class="well well-sm">
        <div class="top-panel-content container">
            <div class="pull-left">
                <h1>{% trans %}Editing{% endtrans %}</h1>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-primary btn-submit-form">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    {% trans %}Update{% endtrans %}
                </button>
                <a href="{{ path('shelf_delete', {'id': entity.id}) }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% trans %}Delete{% endtrans %}
                </a>
                <a href="{{ path('shared_shelf_users', {'shelfId': entity.id}) }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    {% trans %}Share{% endtrans %}
                </a>
                <a href="{{ path('shelf') }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    {% trans %}Shelves{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    {% if edit_form.image.binaryContent.vars.errors.count %}
        <div class="alert alert-danger" role="alert">{{ form_errors(edit_form.image.binaryContent) }}</div>
    {% endif %}

    {{ form_start(edit_form, {'attr': {'data-image-with': 323, 'data-image-height': 185}}) }}
    <div class="control-block">
        {{ form_row(edit_form.image) }}
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.access) }}
        {{ form_row(edit_form.books) }}
        {{ form_row(edit_form.description) }}
    </div>
    {{ form_end(edit_form) }}


{% endblock %}
