{% extends "BookBundle::layout.html.twig" %}

{% block body -%}
    {{ parent() }}

    <h1 class="h1-title">Shelf edit</h1>

    <div class="pull-right book-top-controls">
        <button class="btn btn-default btn-submit-form">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            {% trans %}Update{% endtrans %}
        </button>
        <a href="{{ path('shelf_delete', {'id': entity.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {% trans %}Delete{% endtrans %}
        </a>
        <a href="{{ path('shared_shelf_users', {'shelfId': entity.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            {% trans %}Share{% endtrans %}
        </a>
        <a href="{{ path('shelf') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            {% trans %}Shelves{% endtrans %}
        </a>
    </div>

    {% if edit_form.image.binaryContent.vars.errors.count %}
        <br>
        <br>
        <div class="alert alert-danger" role="alert">{{ form_errors(edit_form.image.binaryContent) }}</div>
    {% endif %}

    {{ form(edit_form) }}

{% endblock %}
