{% extends "BookBundle::layout.html.twig" %}

{% block body -%}     {{ parent() }}
    <div class="grid-list-view container container-shelf-list">
        <div id="sticky" class="well well-sm">
            <div class="top-panel-content container">
                <div class="pull-left">
                    <h1>{% trans %}My Shelves{% endtrans %}</h1>
                </div>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary btn-sm" href="{{ path('shelf_new') }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>{% trans %}Add
                        shelf{% endtrans %}
                    </a>
                </div>
            </div>
        </div>

        {% if entities %}
            <div id="products" class="row list-group">
                {% for entity in entities %}
                    <div class="item  col-xs-4 col-lg-4 grid-group-item">
                        <div class="thumbnail">
                            <div class="btn-delete">
                                <a class="btn btn-danger btn-sm" href="{{ path('shelf_delete', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                            <a href="{{ path('shelf_edit', { 'id': entity.id }) }}" class="img-link">
                                {% if entity.image %}
                                    <img class="group list-group-image" src="{% path entity.image, 'small' %}" alt=""/>
                                {% else %}
                                    <img class="group list-group-image no-image" src="/uploads/no-image.png" alt=""/>
                                {% endif %}
                            </a>
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                    <a href="{{ path('shelf_edit', {'id': entity.id }) }}">
                                        {{ entity.title }}
                                    </a>
                                </h4>

                                <div class="group inner list-group-item-text description-block">
                                    {{ entity.description|striptags|truncate(120) }}
                                </div>

                                <div class="group inner list-group-item-text common-block">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#">
                                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                                {% trans %}Books{% endtrans %} ({{ entity.books.count }})
                                            </a>
                                        </li>
                                        <li role="presentation" class="active">
                                            <a href="{{ path('shared_shelf_users', {'shelfId': entity.id}) }}">
                                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                                {% trans %}Share{% endtrans %} ({{ entity.shareUsers.count }})
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">{% trans %}Your Shelfs list is empty.{% endtrans %}</div>
        {% endif %}
    </div>
{% endblock %}
